.notFound {
  height: 100%;

  &__content {
    background-image: url('@/assets/404.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
}